h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}
.hashworks--bdetails{

  .hashworks--bnr{
    background-image: url("/assets/img/botcamp/hashworks--banner.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding: 38px 14px 48px 37px;

    h1,p{
      color: #ffffff;
    }
    h1{
      width: 270px;
      margin: 0 auto;  
    }
    &--durtion{
      width: 270px;
      margin: 0 auto;
      text-align: center;
      .specifics{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
      }
      p{
        padding-left: 8px;
      }
      img{
        width: 15px;
        height: 15px;
      }
      .enroll{
        display:flex;
        align-items: center;
      }
      button{
        margin-top: 32px;
      }
    }
  }
  .hashworks--course{
    padding: 48px 20px 14px 36px;
    p{
      padding: 8px 0px 16px;
    }
  }
  .hashworks--topic{
    text-align: center;
    padding: 16px 0px 50px;
    width: 250px;
    margin: 0 auto;
    // .cardSlick{
    //   z-index: -1;;
    // }
}
.cards{
  width: 151px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07), 0 0 20px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border: solid 1px #f0f0f0;
  margin: 28px auto 22px;
  padding: 25px 26px 55px 24px;
  // height: 212px;
  text-align: left;
  p{
    padding-top: 24px;
  }
}

.hashworks--accordian{
  // width: 245px;
  // margin: 0 auto 32px;
  padding: 0px 35px 32px 45px;
  h1{
    padding-bottom: 10px;
  }
  p{
    padding: 10px 0px 10px 16px;
    border-bottom: 0.5px solid #b5b4b5;
  }
  p:nth-last-child(1) {
   border: none;
} 
svg{
  width: 15px;
  height: 15px;
}
.arrow{
  display: flex;
}
.panel-open svg {
  transform: rotate(90deg);
  // transition: all 300ms cubic-bezier(1, 0, 0, 1);
}

h2{
  padding-left: 12px;
}
.rotate {
  transform: rotate(90deg);
}
}
.hashworks--faq{
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border: solid 1px #f0f0f0;
  padding: 20px 0px 0px;
  margin: 0px 45px;
  h2{
    border-bottom: solid 1px #d5d5d5;
    padding: 0px 20px 20px;
  }
  h1{
    padding: 0px 15px 10px 20px;
  }
  p{
    padding: 0px 25px 34px 20px;
  }
  .arrow{
  display: flex;
  justify-content: space-between;
  align-items: baseline; 
  img{
    transform:rotate(180deg);
  }
  }

  .panel-open img {
    transform: rotate(360deg);
  }
  .panel-open{
    border-left: 5px solid #603d97;
    border-radius: 1px;
  }
}
.hashworks--ask{
text-align: center;
padding: 24px 0px 60px;
p{
padding-bottom: 16px;
}
}

.hashworks--join{
  padding: 32px 0px 16px;
}
.hashworks--help{
  padding-bottom: 40px;
}
}
.errorValidator{
  border-color: #f05844;
}
.caution{
  color: #f05844;
  text-align:center;
  padding-top:4px;
}
// sussess popup
.hashworks--sign{
  text-align: center;
  margin: 34px 0px 0px;
}
.cross{
  margin: 0px !important;
}
.profile{
  padding: 20px 3px 70px 3px !important;
  text-align: center;
  p{
      padding: 16px 0px 0px;
  }

}

@media only screen and (min-width:768px){
  .hashworks--bdetails{
 
    .hashworks--course{
      padding: 48px 80px 14px 95px;
      p{
        padding:10px 0px 13px;
      }
    }

    .hashworks--topic{
      padding: 35px 0px 48px 0px;
      width: 550px;
      margin: 0 auto;
      text-align: left;

      .cardSlick{
        display: grid;
        grid-gap: 16px 20px;
        grid-template-columns: repeat(auto-fit,minmax(140px,2fr));
        z-index: -1;
      }
      h1{
        padding-bottom: 24px;
      }
  }
  .cards{
    height: 190px;
    width: 173px;
    margin: 0px;
    padding: 26px 20px 25px 20px;
    p{
      padding-top: 17px;
    }
  }
  
  .hashworks--accordian{
    padding: 0px 93px 48px 94px;
    h1{
      padding-bottom: 15px;
    }
    h2{
      padding-left: 16px;
    }
    p{
      padding: 09px 0px 9px 36px;
    }

  }
  .hashworks--faq{
    margin: 0px 94px;
    h2{
      padding: 0px 28px 15px;
    }
    h1{
      padding: 0px 105px 0px 28px;
    }
    p{
      padding: 0px 60px 43px 28px;
    }
  }

  .hashworks--ask{
  text-align: left;
  padding: 24px 95px 17px;
  }
  .hashworks--join{
      padding: 40px 0px 40px;
  }
  .hashworks--help{
      padding-bottom: 40px;
  }
  .hashworks--bnr{
    // height: 177px;
    padding: 37px 65px 39px 95px;
    h1,p{
     text-align: left;
    }
    h1{
      width: 100%;
    }
    &--durtion{
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 26px;
      .specifics{
        display: block;
        align-items: center;
        padding: 0px;
      }
      .enroll{
        display:flex;
        padding-top: 8px;
      }
      button{
         margin: 0px;
      }
    
    }
  }
  }
// success msg
.profile{
  padding: 24px 25px 70px 25px !important;
}
}
@media only screen and (min-width:1024px){

  .hashworks--bdetails{
 
    .hashworks--course{
      padding: 64px 0px 40px 0px;
      width: 795px;
      margin: 0 auto;
      p{
        padding:6px 0px 24px;
      }
      h1{
        padding-bottom: 18px;
      }
    }
    .topic_align{
      width: 795px;
      margin: 0 auto;
    }
    .hashworks--topic{
      width: 715px;
      padding: 24px 0px 64px 0px;
      margin: 0px;
      .cardSlick{
        grid-gap: 24px 20px;
        grid-template-columns: repeat(auto-fit,minmax(200px,2fr));
      }
      h1{
        padding-bottom: 48px;
      }
  }
  .cards{
    padding: 26px 16px 26px 20px;
    height: 180px;
    width: 220px;
    p{
      padding-top: 13px;
    }
  }

    .hashworks--bnr{
      padding: 64px 0px 64px 0px;
      h1{
        width: 795px;
       }
      &--durtion{
        padding-top: 20px;
            width: 795px;
            margin: 0  auto;
           
      .arow{
        width: 25px;
        height: 20px;    
      }
        .enroll{
          padding-top: 8px;
        }
      }
    }
  .hashworks--accordian{
    padding: 0px 0px 64px 0px;
    width: 780px;
    margin: 0  auto;
    h1{
      padding-bottom: 25px;
    }
    p{
      padding: 9px 0px 9px 45px;
    }

  }
  .hashworks--faq{
    margin: 0px 0px;
    width: 780px;
    margin: 0  auto;
    h2{
      padding: 9px 28px 21px;
    }
    h1{
      padding: 0px 125px 0px 28px;
    }
    p{
      padding: 0px 85px 62px 28px;
    }
  }
  .hashworks--ask{
  text-align: left;
  padding: 40px 0px 20px;
  width: 780px;
  margin: 0  auto;
  }

    .hashworks--join{
      padding: 64px 0px;
  }
  .hashworks--help{
      padding-bottom: 66px;
  }
  }
  // succces  popup
  .hashworks--sign{
    margin:42px 0px 0px;
}
  .profile{
    padding: 24px 55px 80px 55px !important;
    p{
        padding: 24px 0px 0px;
    }
  }
}
@media only screen and (min-width:1440px){
  .hashworks--bdetails{
    .hashworks--course{
      padding: 80px 0px 52px 0px;
      width: 968px;
      margin: 0 auto;
      p{
        padding:6px 0px 28px;
      }
    }
    .hashworks--bnr{
      padding: 80px 0px;
     h1{
      width: 968px;
     }
      &--durtion{
        padding-top: 28px;
        width: 968px;
      
        .enroll{
          padding-top: 16px;
        }
      }
    }
    .topic_align{
      width: 968px;
    }
    .hashworks--topic{
      padding: 28px 95px 80px 0px;
      width: 968px;
      margin: 0;
      .cardSlick{
        grid-gap: 24px 30px;
        grid-template-columns: repeat(auto-fit,minmax(200px,2fr));
      }
  }
  .cards{
    padding: 26px 10px 26px 20px;
    height: 180px;
    width: 270px;
    p{
      padding-top: 12px;
    }
  }
  .hashworks--accordian{
    padding: 0px 0px 80px 0px;
    width: 968px;
      margin: 0 auto;
    h1{
      padding-bottom: 26px;
    }
    p{
      padding: 16px 0px 16px 58px;
    }

  }
  .hashworks--faq{
    width: 968px;
    margin: 0 auto;
    h2{
      padding: 9px 28px 21px;
    }
    h1{
      padding: 0px 60px 0px 28px;
    }
    p{
      padding: 0px 85px 62px 28px;
    }
  }
  .hashworks--ask{
  padding: 56px 0px 0px;
  width: 968px;
  margin: 0 auto;
  p{
    padding-bottom: 22px;
    }
  }
    .hashworks--join{
      padding: 80px 0px;
  }
  .hashworks--help{
      padding-bottom: 80px;
  }
  }

  //success popup
  .hashworks--sign{
    margin:42px 0px 0px;
}
  .profile{
    padding: 32px 60px 88px 60px !important;
    p{
        padding: 32px 0px 0px;
    }
  }
}
