<div class="hashworks--about">
    <app-banner titleText="About Us" text="We are a bunch of designers & developers with a start-up DNA enabling digital transformation for Large enterprises & Startups. We consult, design and build the digital presence for your businesses by reducing system complexity and delivering relevance. We are a customer driven company and work in a collaborative environment."></app-banner>

    <div class="hashworks--avbanner">
        <app-commonbanner titleText="How we grew 200% in 3 years" summaryText="" btnUrl="/grew" imageUrl="/assets/img/home/hashworks_grew.jpg"
        btnTitle="Know More"></app-commonbanner>
    </div>

    <div class="hashworks--grewsmry">
        <h1 class ="title">Human Capital Acceleration</h1>
        <p class="bodyLight">Our prime focus is complete retention and this is why we are averse to any form of attrition. Our engagement with the team is comprehensive, familial and dedicated to individual and overall development. This spreads across making the diversity, backgrounds, perspectives and communication channels stronger and inclusive. They are our assets and addition, our face and symbol, our attitude and approach, our viewpoints and strengths and at the same time our favoured critics and trusted friends.</p>
    </div>
    <div class="hashworks--grewsmry">
        <h1 class ="title">Client handholding</h1>
        <p class="bodyLight">Whether our clients are going through a business transition or moving across geographies, setting up new verticles that demand maximum attention or just want to talk to us on a trending doubt anytime, we are always there to assist and move them beyond the existing and future challenges. We consider client handholding to be the building block of our corporate philosophy and embed this as a solid practice at every opportunity that makes us add positive value.</p>
    </div>
    <div class="hashworks--grewsmry lastborder">
        <h1 class ="title">Industry stewardship and sustainability</h1>
        <p class="bodyLight">Our services and products have one common thread – focused social impact. Everything that we do should resonate with change, development and progress. If this leads to compromise on ethics and environmental sustanibility, we advise our
            stakeholders to reconsider their decision while offering the best possible solution to leverage honesty and humanity.</p>
    </div>

    <div class="hashworks--gallery">
      <img src="/assets/img/about/hashworks-1.jpg" alt="hashworks">
      <img src="/assets/img/about/hashworks-2.jpg" alt="hashworks">
      <img src="/assets/img/about/hashworks-3.jpg" alt="hashworks">
      <img src="/assets/img/about/hashworks-4.jpg" alt="hashworks">
    </div>

      <div class="hashworks--join">
        <app-commonbanner titleText="Join our team today" summaryText="" 
          btnTitle="Explore" imageUrl="/assets/img/home/hashworks_join.jpg" btnUrl="/career"></app-commonbanner>
      </div>
      <div class="hashworks--help">
          <app-help></app-help>
     </div>
      
</div>
