h1,
h2,
h3,
h4,
p {
    margin: 0px;
    padding: 0px;
}

.hashworks--boot {
    .hashworks--help {
        padding: 16px 0px 40px;
    }
    .hashworks--csfiltr {
        padding-bottom: 0px;
        max-height:545px;
        overflow: hidden;
        &--btn {
            text-align: center;
            display: flex;
            justify-content: center;
            margin: 16px 0px 68px;
        }
    }
}

@media only screen and (min-width:768px) {
    .hashworks--boot {
        .hashworks--csfiltr {
            max-height: 300px;
            &--btn {
                // margin-top: 48px;
                margin: 48px 0px 78px;
            }
        }
        .hashworks--help {
            padding: 0px 0px 40px;
        }
    }
}

@media only screen and (min-width:1024px) {
    .hashworks--boot {
        .hashworks--csfiltr {
            max-height:405px;
            &--btn {
                // margin-top: 45px;
                margin: 45px 0px 96px;
            }
        }
        .hashworks--help {
            padding: 0px 0px 64px;
        }
    }
}

@media only screen and (min-width:1440px) {
    .hashworks--boot {
        .hashworks--csfiltr {
            padding-bottom: 0px;
            max-height:465px;
            &--btn {
                margin: 48px 0px 80px;
            }
        }
        .hashworks--help {
            padding: 0px 0px 80px;
        }
    }
}