<div class="hashworks--filter">
  <div class="hashworks--exService">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="buttonColor dropdown-toggle " aria-controls="dropdown-basic">{{param}}
        <span class="caret"></span>
      </button>
      <ul class=" dropdown-menu hashworks--exService--list" id="dropdown-basic" *dropdownMenu role="menu" aria-labelledby="button-basic">
        <li class="bodySemiBold" [ngClass]="{'active': selectedItem == 1}" (click)="filterselect('All','All', '1')">All</li>
        <li class="bodySemiBold" [ngClass]="{'active': selectedItem == 7}" (click)="filterselect('Blockchain','Blockchain', '7')">Blockchain</li>
        <li class="bodySemiBold" [ngClass]="{'active': selectedItem == 2}" (click)="filterselect('DevOps','DevOps', '2')" value="DevOps">DevOps</li>
        <li class="bodySemiBold" [ngClass]="{'active': selectedItem == 3}" (click)="filterselect('DataScience','DataScience', '3')">Data Science</li>
        <li class="bodySemiBold" [ngClass]="{'active': selectedItem == 5}" (click)="filterselect('CloudAdoption','CloudAdoption', '5')">Cloud Adoption</li>
        <li class="bodySemiBold" [ngClass]="{'active': selectedItem == 4}" (click)="filterselect('UXUI','UX/UI', '4')">UX/UI</li>
        
        <li class="bodySemiBold" [ngClass]="{'active': selectedItem == 6}" (click)="filterselect('Mobility','Mobility', '6')">Mobility</li>
       
      </ul>
    </div>

    <div class="hashworks--flList">
      <div class="">
        <div class="col-xs-12 col-sm-6 devops" id="{{ 'card-' + i }}" (click)="routePage($event,item.redirect,item.id)" *ngFor="let item of caseStudyData; let i = index">
          <div [ngStyle]="{'background-image': 'url('+item.activeImage+')'}" class="filterimage"></div>
          <h2 class="bodyLight">{{item.title}}</h2>
          <p class="bodyBold">{{item.summaryText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>