h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}
.hashworks--grewsmry{
    padding: 32px 38px 32px 42px;
    border-bottom: 1px solid  #eaeaea;
    h1{
        text-align: center;
    }
    p{
        text-align: center;
        padding-top: 16px;
    }
}
.hashworks--grew{
    &--help{
        padding: 16px 0px 40px;
    }
    &--join{
        margin:0px 0px 0px;
    }
}

@media only screen and (min-width:768px) {
    .hashworks--grewsmry{
        padding: 48px 100px 48px 100px;
    }
    .hashworks--grew{
        &--help{
            padding: 40px 0px  43px;
        }
        &--join{
            margin:0px 0px 0px;
        }
    }

}
@media only screen and (min-width:1024px) {
    .hashworks--grewsmry{
        padding: 64px 0px 64px 0px;
        width: 750px;
        margin: 0 auto;
        p{
            padding-top: 24px;
        }
    }
    .hashworks--grew{
        &--help{
            padding: 64px 0px;
        }
        &--join{
            margin:0px 0px 0px;
        }
    }
}
@media only screen and (min-width:1440px) {
    .hashworks--grewsmry{
        width: 1170px;
        margin: 0 auto;
        padding: 80px 100px 80px 100px;
    }
    .hashworks--grew{
        &--help{
            padding: 80px 0px 80px;
        }
        &--join{
            margin:0px 0px 0px;
        }
    }
    }
