<div class="hashworks--grew">
  <app-banner titleText="How we Grew 200% in 3 years" text=""></app-banner>

  <div class="hashworks--grew-br">
    <app-commonbanner titleText="Our story so far" summaryText="From a Service oriented start up we have grown into a consulting and product company.
      Our commendable growth is because we believe in Innovation, Collaboration and Change. Our
      energetic team of designers and developers are committed to design and build digital presence for your businesses by reducing system complexity and delivering relevance."
      btnTitle="" imageUrl="/assets/img/home/hashworks_grew.jpg"></app-commonbanner>
  </div>
  <div class="hashworks--grewsmry">
    <h1 class="title">Looking at the Right Talent</h1>
    <p class="bodyLight">We always look forward to hiring energetic talents over the senior experienced ones immediately. We want the right set
      of people who align with our vision in helping us serve customers better. We have seen that having the multi-tasking
      edge allows us to work across different teams easily, this has given us the required productive output to deliver excellence.</p>
  </div>
  <div class="hashworks--grewsmry">
    <h1 class="title">Collaborative Work Atmosphere</h1>
    <p class="bodyLight">Building innovation inside the company requires a lot of knowledge sharing and exchange of ideas. We ensure and encourage
      active collaboration and engagement with all our stakeholders. Keeping an open mind has helped us gained more insights
      as to how we can engage with the end users effectively and efficiently.</p>
  </div>
  <div class="hashworks--grewsmry">
    <h1 class="title">Ownership as against Reporting</h1>
    <p class="bodyLight">Reporting system have proven to be barriers in fostering talents. We found that having a horizontal transparent reporting
      system improved communication among all the team members, which further kindled knowledge sharing, increased productivity
      and achieved common goals. We went a little further and made the junior team members take ownership of the projects,
      this showed incredible increase in efficiency and effective delivery of tight time bound projects.</p>
  </div>
  <div class="hashworks--grewsmry">
    <h1 class="title">Adopting to Design Thinking</h1>
    <p class="bodyLight">These are one of those ‘wow’ moments we have while building products. Having a multidisciplinary team and empathy for
      customers starts at ideation itself. Design thinking methodology has definitely helped us in solving problems at every
      stage and achieving the milestones faster through active interaction and feedback with all stakeholders</p>
  </div>
  <div class="hashworks--grewsmry">
    <h1 class="title">Building a Strong Engineering Practise</h1>
    <p class="bodyLight">Having different engineering minds working on a single project exhibits a strong process and a strong communication internals.
      We have been practicing “Extreme Programming Practices” and have added own flavors along with Agile methods to make
      it more adaptable into our work environment.
    </p>
  </div>
  <div class="hashworks--grewsmry">
    <h1 class="title">Skill Adoption based on Hybrid Roles</h1>
    <p class="bodyLight">Being adaptable with the situation is what made us grow over the period of years. We allowed talents to work on cross
      platforms and upskill themselves. Having made to wear multiple hats, the stats showed that individuals started empathizing
      for the customers better and performed harder to achieve the business goals.</p>
  </div>
  <div class="hashworks--grewsmry">
    <h1 class="title">Not the Idea! But the Implementation</h1>
    <p class="bodyLight">For small organizations, implementation has always been a challenging task. Realizing this we concentrated on the implementation
      process keeping the base idea intact. This process allowed us to build the product with greater understanding of the
      end user needs cutting down the assumptions.</p>
  </div>
  <div class="hashworks--grew--join">
    <app-commonbanner titleText="Join our team today" summaryText="" btnTitle="Explore" imageUrl="/assets/img/home/hashworks_join.jpg"
      btnUrl="/career"></app-commonbanner>
  </div>


  <div class="hashworks--grew--help">
    <app-help></app-help>
  </div>

</div>