<div class="hashworks--csdetails">
  <div class="hashworks_bnr">
    <div class="hashworks_bnr__do">
      <h1 class="hero">{{caseStudyList.summaryText}}</h1>
    </div>
  </div>
  <div class="hashworks--oview">
    <div class="hashworks--oview--ctmr">
      <div class="hashworks--oview--ctmr--review">
        <h1 class="bodyBold">{{caseStudyList.csview}}</h1>
        <p class="bodyLight">{{caseStudyList.csSummary}}</p>
      </div>
      <div class="hashworks--oview--ctmr--lne">
        <h1 class="bodyBold">{{caseStudyList.service}}</h1>
        <p class="bodyLight">{{caseStudyList.title}}</p>
      </div>
    </div>
  </div>
  <div class="hashworks--key">
    <h1 class="title">{{caseStudyList.statement}}</h1>
    <h2 class="bodyRegular">{{caseStudyList.review}}</h2>
    <p class="bodyLight">{{caseStudyList.statementTitle}}</p>
    <ul>
      <li *ngFor="let list of problemList;" class="bodyLight">{{list.text}}</li>
    </ul>
  </div>

  <div class="hashworks--outcome" [ngStyle]="{'background-image': 'url('+caseStudyList.activeImage+')'}">
    <div class="backdrop-hw"></div>
    <div class="hashworks--outcome--align">
      <h1 class="title">{{caseStudyList.outcome}}</h1>
      <p style="color: #fff" class="bodyLight" *ngFor="let list of caseStudyList.outcometext;">{{list.text}}</p>
    </div>
  </div>

  <div class="hashworks--key">
    <h1 class="title">{{caseStudyList.keyTitle}}</h1>
    <p class="bodyLight">{{caseStudyList.keyText}}</p>
    <ul>
      <li *ngFor="let iteam of keyList;" class="bodyLight">{{iteam.keyValue}}</li>
    </ul>
  </div>
  <div class="hashworks--eco">
    <app-ecosystem titleText="{{caseStudyList.ecosystem}}" targetTypeLb="{{caseStudyList.lbTarget}}" lbUrl={{caseStudyList.lbwUrl}}  bgColor= "{{caseStudyList.color}}" btnUrl={{caseStudyList.btnUrl}} summaryText="{{caseStudyList.ecoCs}}"
      btnTitle="Read More" targetType="{{caseStudyList.target}}" btn imageUrl="{{caseStudyList.ecoImage}}"></app-ecosystem>
  </div>

  <div class="hashworks--help">
    <app-help></app-help>
  </div>
</div>