<div class="hashworks--boot">
  <app-banner titleText="Bootcamps" text="We nurture professionals with passion for learning & groom them for career transitions in an industry eco-system. We have crafted an industry-fit certification program for you to learn & leverage the best practice from our experts. Be the preferred candidate to your future employer with certification in demand skill in the industry."></app-banner>

  <div class="hashworks--csfiltr" id="showMore">
   <app-bootcamp-filter></app-bootcamp-filter>
 </div>
 <div class="hashworks--csfiltr--btn animat-button" id="showMoreBtn">
        <button id="viewMore" class="buttonColor" (click)="showMore()">
          <span><img src="../../assets/img/home/service/Arrow.svg" alt=""></span>
          <span class="left">View More</span>
        </button>
  </div>
  <div class="hashworks--help">
    <app-help></app-help>
  </div>
</div>