h1,
h2,
h3,
h4,
p {
    margin: 0px;
    padding: 0px;
}

.hashworks--boot {
    .hashworks--help {
        padding: 16px 0px 40px;
    }
    .hashworks--csfiltr {
        padding-bottom: 0px;
        max-height:615px;
        overflow: hidden;
        // width:300px;
        // margin: 0 auto;
        &--btn {
            text-align: center;
            // margin-top: 16px;
            margin: 16px 0px 68px;
        }
    }
}

@media only screen and (min-width:768px) {
    .hashworks--boot {
        .hashworks--csfiltr {
            max-height: 330px;
            &--btn {
                // margin-top: 48px;
                margin: 48px 0px 78px;
            }
        }
        .hashworks--help {
            padding: 40px 0px 40px;
        }
    }
}

@media only screen and (min-width:1024px) {
    .hashworks--boot {
        .hashworks--csfiltr {
            max-height:455px;
            &--btn {
                // margin-top: 45px;
                margin: 45px 0px 96px;
                display: flex;
                justify-content: center;
            }
        }
        .hashworks--help {
            padding: 64px 0px 64px;
        }
    }
}

@media only screen and (min-width:1440px) {
    .hashworks--boot {
        .hashworks--csfiltr {
            padding-bottom: 0px;
            max-height: 510px;
            &--btn {
                margin: 48px 0px 80px;
            }
        }
        .hashworks--help {
            padding: 80px 0px 80px;
        }
    }
}