<div class="hashworks--careerdetails" >
        <app-banner *ngFor="let item of jobList" titleText="{{item.designation}}" text=""></app-banner>
        <div class="hashworks--respose" >
            <h1 class="title">Experience</h1>
            <ul *ngFor="let exp of jobList">
                <li  class="bodyLight">{{exp.exp}}</li>
             </ul>
    
             <h1 *ngFor="let x of jobList"  class="title">{{x.technologies}}</h1>
             <ul *ngFor="let tech of jobList">
                 <li  class="bodyLight">{{tech.tech}}</li>
              </ul>
    
            <h1 *ngFor="let res of jobList" class="title">{{res.response}}</h1>
            <ul *ngFor="let response of jobList[0].responselist">
                <li  class="bodyLight">{{response.res}}</li>
              </ul>
    
            <h1 class="title">Requirements:</h1>
            <ul *ngFor="let job of jobList[0].taskList">
              <li  class="bodyLight">{{job.item}}</li>
            </ul>
        </div>
    
        <div class="hashworks--form">
            <form [formGroup]="signupForm" id="uploadForm" method="POST">
                <input type="hidden" value="" name="fileContent" id="fileContent">
                <input type="hidden" value="" name="filename" id="filename">
                <input class="bodyLight" type="hidden" value="{{type}}" formControlName="type" name="type" id="type" >
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                 <input class="bodyLight" type="text" [ngClass]="{'errorValidator': !signupForm.controls['fname'].valid && signupForm.controls['fname'].touched}"
                            [(ngModel)]="firstName" formControlName="fname" name="fname" placeholder="First Name" id="fname" required>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input class="bodyLight left" type="text" [ngClass]="{'errorValidator': !signupForm.controls['lname'].valid && signupForm.controls['lname'].touched}"
                            [(ngModel)]="lastName" formControlName="lname" name="lname" placeholder="Last Name" id="lname" required>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input class="bodyLight " type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [ngClass]="{'errorValidator': !signupForm.controls['email'].valid && signupForm.controls['email'].touched}"
                            [(ngModel)]="emailID" formControlName="email" name="email" placeholder="Email Id" id="email" required>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input class="bodyLight left" type="number" [ngClass]="{'errorValidator': !signupForm.controls['mobileNumber'].valid && signupForm.controls['mobileNumber'].touched}"
                            [(ngModel)]="mobileno" formControlName="mobileNumber" name="mobileNumber" placeholder="Phone Number" id="mobno" required> 
                    </div>
                </div>
                <div class="upload">
                    <label  id="filename1" class="fileContainer bodyLight" >
                    </label>
                    <input type="file" id="attach" name="file[]"  accept=".jpg,.pdf,.doc" 
                        (change)="changeFileName($event)" (click)="disable()" required #file>
                        <div class="closed" id="closed" (click)="reset(file)">
                              <div class="horizontal"></div>
                              <div class="vertical"></div>
                        </div>

                </div>
                <div class="caution bodyRegular" id="errormessage" hidden=true>Please fill all the fields</div>
                    <div class="knowMore">
                        <button type="submit" id="submit-form" class="buttonColor" onclick="UploadFile()">
                              <span><img src="../../assets/img/home/service/Arrow.svg" alt=""></span>
                              <span>Apply</span>
                            </button>
                    </div>
            </form>
            <div id="loading" class="loading"></div>
        </div>
        <div class="hashworks--help">
            <app-help></app-help>
        </div>

        <button style="display:none" id="openpopup" (click)="openModal(template)">open popup</button>
        <!-- thankyou poup -->
        <ng-template #template id="thankq">
            <div class="modal-header">
    
                <button type="button" [ngClass]="['cross']" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true" >
                        <img src="/assets/img/icon/hashworks_cross.svg" alt="">
                    </span>
                </button>
            </div>
            <div class="hashworks--sign">
                <img src="/assets/img/carrer/hashworks--sub.svg" alt="hashworks">
            </div>
            <div [ngClass]="['profile']" class="modal-body">
                <h1 class="title">Your profile has been submitted!</h1>
                <p class="bodyLight">we’ll get in touch with you soon</p>
            </div>
        </ng-template>
    </div>
    