h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}
.hashworks--srv{
    &--service{
        padding: 40px 0px;
    }
    &--help{
        padding: 40px 0px;
    }
}
@media only screen and (min-width:768px) {
    .hashworks--srv{
        &--service{
            padding: 48px 0px;
        }
        &--help{
            padding: 40px 0px  43px;
        }
    }
}
@media only screen and (min-width:1024px) {
    .hashworks--srv{
        &--service{
            padding: 56px 0px;
        }
        &--help{
            padding: 64px 0px;
        }
    }
}
@media only screen and (min-width:1440px) {
    .hashworks--srv{
        &--service{
            padding: 80px 0px 80px;
        }
        &--help{
            padding: 80px 0px 80px;
        }
    }

}