<div class="hashworks--srv">
    <app-banner titleText="What we do" text="We help companies to pivot and meet perpetual change with sustainable innovation. We enable your organization to build scalable, distributed and decentralized systems."></app-banner>
    <div class="hashworks--srv--bnr">
        <app-commonbanner titleText="How do we engage" summaryText="We collaborate to build, operate & transfer your products & services. We are a lean development organization driven by design thinking. Our release engineering process are stringent and highly automated. Our teams are context-aware and outcome focused." 
        btnTitle="" imageUrl="/assets/img/service/hashworks--1.jpg"></app-commonbanner>
    </div>
  <div class="hashworks--srv--service">
    <app-our-service titleText="Our Services" titleSummary=""></app-our-service>
  </div>
   <div class="hashworks--srv-why">
    <app-why-hashworks></app-why-hashworks>
   </div>
   <div class="hashworks--srv--help">
    <app-help></app-help>
   </div>
</div>