<div class="hashworks--esystem" [ngStyle]="{'background-image': 'url('+imageUrl+')'}">
  <div class="backdrop-color" [ngStyle]="{'background-color': bgColor}"></div>
  <div class="abc">
    <div class="hashworks--esystem--alinment">
      <h1 class="title">{{titleText}}</h1>
      <a (click)="locationRef(btnUrl,targetType)">
        <button class="button" *ngIf="btnTitle != ''">
          <span>
            <img src="../../assets/img/home/service/hashworks-blkarw.svg" alt="">
          </span>
          <span>{{btnTitle}}</span>
        </button>
      </a>

      <p class="bodyBold" *ngIf="summaryText != ''">
        <!--  -->
        <a class="link" (click)="locationRefLb(lbUrl,targetTypeLb)">{{summaryText}}
          <span>→</span>
        </a>
      </p>
    </div>
    <div>
      <img class="logo" src="{{logoUrl}}" alt="hashworks" *ngIf="logoUrl" />
    </div>
  </div>
</div>