<div class="hashworks--cstudy">
  <app-banner titleText="Case Studies" text="Technology is the value driver for all the business today. We take our work seriously. We express our thoughts and share our passion. We also have fun at work. Come share our thinking; know more about our team and the work we do…."></app-banner>

  <div class="hashworks--csfiltr" id="showMore">
    <app-filter></app-filter>
  </div>
  <div class="hashworks--csfiltr--btn" id="showMoreBtn">
    <button id="viewMore" class="buttonColor" (click)="showMore()">
      <span>
        <img src="../../assets/img/home/service/Arrow.svg" alt="">
      </span>
      <span>View More</span>
    </button>
  </div>

  <div class="hashworks--help">
    <app-help></app-help>
  </div>
</div>