h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}

.footer {
  background-image: url("/assets/img/icon/hashworks-footer.svg");
  background-repeat: no-repeat;
  background-size: 250px 220px;
  background-position: bottom right;
  background-color: #363636;
  padding: 24px 0px 24px; // background-attachment: fixed;
  .foot {
    display: none;
  }
  .error-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  #subsAdded {
    display: none; // display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 279px;
    margin: 0 auto;
    color: green;
  }
  &__tabs {
    &__button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      display: block;
      margin: 0 auto 24px;
      color: #ffffff;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      transition: all 0.5s ease;
      position: relative;
    }
    &__button::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      color: transparent;
      background: #ffffff;
      ;
      height: 2px;
      transition: all 0.5s ease;
    }
    &__button:hover::after {
      width: 100%;
    }
    &__socialLink {
      text-align: center;
      a:nth-child(2) {
        margin: 0px 17px;
      }
      img {
        width: 19px;
        height: 15px;
      }
    }
  }
  &__news {
    text-align: center;
    h2 {
      color: #ffffff;
      text-align: center;
      padding: 32px 0px 16px;
    }
    input {
      width: 279px;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #ebebeb;
      padding: 8px 16px;
      outline: none;
      line-height: 24px;
    }
    button {
      border: none;
      text-align: center;
      margin: 24px 0px;
    }
    p {
      color: #ffffff;
    }
  }
  .errorValidator {
    border-color: #f05844;
  }
  .caution {
    color: #f05844;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    background-size: 274px 125px;
    padding: 33px 0px 40px;
    .knowMore {
      margin-left: 22px;
    }
    .foot {
      display: block;
    }
    .error-wrapper {
      position: absolute;
      width: 100%;
      text-align: left;
    }
    #subsAdded {
      margin: unset;
    }
    &__tabs {
      display: flex;
      justify-content: space-between;
      width: 700px;
      margin: 0 auto;
      &__button {
        margin: 0px 8px 0px 0px;
        padding: 0px;
      }
      &--list {
        display: flex;
      }
      &__socialLink {
        text-align: center;
        a:nth-child(2) {
          margin: 0px 4px 0px 10px
        }
      }
    }
    &__news {
      text-align: left;
      width: 700px;
      margin: 0 auto;
      h2 {
        text-align: left;
        padding: 40px 0px 16px;
      }
      input {
        width: 279px;
      }
      button {
        margin: 0px;
      }
      p {
        padding-top: 18px;
      }
      &__subscribe {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 394px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    background-size: 375px 165px;
    padding: 48px 0px 50px;
   
    &__tabs {
      width: 940px;
      &__socialLink {
        a:nth-child(2) {
          margin: 0px 22px;
        }
        img {
          width: 24px;
          height: 20px;
        }
      }
      &__button {
        margin: 0px 24px 0px 0px;
      }
    }
    &__news {
      width: 940px;
      h2 {
        padding: 48px 0px 16px;
      }
      input {
        width: 378px;
        padding: 10px 16px;
      }
      p {
        padding-top: 18px;
      }
      &__subscribe {
        width: 500px;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    background-size: 434px 201px;
    padding: 66px 0px 63px;
    .knowMore {
      margin-left: 30px;
    }
    &__tabs {
      width: 1170px;
      &__socialLink {
        a:nth-child(2) {
          margin: 0px 40px;
        }
        img {
          width: 32px;
          height: 26px;
        }
      }
      &__button {
        margin: 0px 32px 0px 0px;
      }
    }
    &__news {
      width: 1170px;
      h2 {
        padding: 57px 0px 17px;
      }
      input {
        width: 470px;
        padding: 12px 16px;
      }
      p {
        padding-top: 20px;
      }
      &__subscribe {
        width: 645px;
      }
    }
  }
}