/* You can add global styles to this file, and also import other style files */

@import './assets/hashGrid.min.css';

@font-face {
  font-family: 'OsBold';
  src: url('./assets/font/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OsSemiBold';
  src: url('./assets/font/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'OsRegular';
  src: url('./assets/font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OsItalic';
  src: url('./assets/font/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'OsLight';
  src: url('./assets/font/OpenSans-Light.ttf');
}
.row:before {
  display: flex;
  content: " ";
  display: -webkit-flex;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: flex !important;
  content: " ";
}
  *{
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: "OsRegular";
}

  button{
    outline: none;
    border: none;
  }
  a {
    text-decoration: none !important;
  }
  .hero,.title,.subTitle,.bodySemiBold{
    font-family: 'OsSemiBold';
    color: #393939;
  }
  .hero {
    font-size: 27px;
  }
  .title {
    font-size: 19px;
    line-height: 26px;
  }
  .subTitle {
    font-size: 15px;
  }
  .bodyBold {
    font-family: 'OsBold';
    font-size: 13px;
    color: #4a4a4a;
  }
  .bodyRegular{
    font-family: 'OsRegular';
    font-size: 13px;
    color: #4a4a4a;
    line-height: 22px;
  }
  .bodyLight, .breadbody{
    font-family: 'OsLight';
    font-size: 13px;
    color: #4a4a4a;
    line-height: 22px;
  }
  .bodyItalic {
    font-family: 'OsItalic';
    font-size: 13px;
    color: #4a4a4a;
  }
  .bodySemiBold {
    font-size: 13px;
  }
  .button, .buttonColor{
    border-radius: 6px;
    padding: 10px 16px;
    cursor: pointer;
    outline: none;
    font-family: 'OsRegular';
    font-size: 13px;
    text-align: center;
    position: relative;
    img{
      display:none;
    }
  }

  .hashworks--exService{
  .dropdown-menu {
    position: absolute;
    top: 98%;
    left: -2px;
    z-index: 5;
    min-width: 205px;
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
// .hashworks--accordian{
  .panel{
    border:none;
    border-bottom: solid 0.5px #b5b4b5 !important;
    box-shadow: none;
  }
  .panel-default>.panel-heading {
    background-color: #ffffff;
  }
  .panel-heading{
    padding: 20px 12px 18px 0px;
  }
  .panel-body {
     padding: 0px;
  }
  .panel-group{
    margin: 0px;
  }
  .panel-group .panel+.panel {
    margin-top: 0px;
}
// 

.carousel-indicators .active {
  background-color: #603d97;
  margin-left: 8px;
}

.carousel-indicators li {
    border: 1px solid #603d97;
    margin-left: 8px;
}
.carousel-control.left{
  display: none;
}
.carousel-control.right{
  display: none;
}

.carousel-indicators{
  bottom: -25px;
}
.slick-dots li {
  width: 8px;
  height:8px;
  margin: 0 3px;
  border: 1px solid #603d97;
  border-radius: 50%;
}
.slick-dots li button:before {
  font-size: 6px;
  top: -7px;
  left: -7px;
  color: #ffffff;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #603d97;
  font-size: 10px;
}
.slick-slide {
  outline: none;
}
.hashworks--faq{
  .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}
}
.hashworks--carrer--bnr{
  .slick-dots li {
    border: 1px solid #ffffff;
  }
  .slick-dots li button:before {
    top: -7px;
    left: -7px;
    color: #ffffff;
  }
  .slick-dots li.slick-active button:before {
    color: #ffffff;
  }
  .slick-dots {
    bottom: -40px;
  }
}
// css for popup
  .modal-dialog{
  width: 295px;
  margin: 0 auto;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  input{
    width: 100%;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    outline: none;
    padding: 8px 16px;
    margin-bottom: 16px;
  }
  // span{
  //   color: #603d97;
  // }
  .modal-header .close {
    margin-top: -50px;
    opacity: 2;
}
.modal-header {
  padding: 16px 10px 0px 24px;
  border-bottom:none;
}
.modal-body{
  padding: 16px 21px 16px 24px;
}

}
.loginbutton{
  text-align: center;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
// end css for popup
.pagination{
  li:nth-child(1){
    display: none;
  }
  li:nth-last-child(1){
    display: none;
  }
  li{
    margin-right: 10px;
  }
  li>a{
    border: none;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
    font-family: 'OsBold';
    width: 25px;
    height: 25px;
    margin-left: 5px;
  }
  .active>a{
    z-index: 3;
    color: #fff;
    cursor: default;
    border-color: #603d97;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #603d97;
}

}
.button {
  color: #1a1a1a;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  overflow: hidden; 
}
.buttonColor {
  color: #ffffff;
  background-color: #603c96;
  overflow: hidden; 
}
.pagination>.active>a:hover{
  background-color: #8252ca;
  cursor: pointer;
}

@media only screen and (min-width:768px) {
  .panel-heading{
    padding: 26px 197px 24px 0px;
  }
  .hashworks--exService .dropdown-menu {
    position: absolute;
}
.carrerposition .dropdown-menu {
  position: static;
}
.rightarrow{
  position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    cursor: pointer;
}
.leftarrow{
  position: absolute;
  left: 0px;
  top: 50%;
  cursor: pointer;
  z-index: 99;
}
// css for popup
.modal-dialog{
  width: 345px;

  .modal-header .close {
    margin-top: -45px;
}
.modal-header {
  padding:16px 18px 0px 30px;
}
.modal-body{
  padding: 16px 32px 16px 32px;
}
}
// end css for popup
.hashworks--faq{
  .panel-heading{
    padding: 26px 23px 24px 0px;
  }
}
}

@media only screen and (min-width:1024px) {
  .hero {
    font-size: 36px;
  }
  .title {
    font-size: 22px;
    line-height: 30px;
  }
  .subTitle {
    font-size: 16px;
  }
  .bodyBold {
    font-size: 14px;
  }
  .bodyRegular,.bodyLight,.breadbody {
    font-size: 14px;
    line-height: 23px;
  }
  .bodyItalic {
    font-size: 14px;
  }
  .bodySemiBold {
    font-size: 14px;
  }
  .button,.buttonColor{
    padding: 12px 16px;
    font-size: 14px;
  }
  //button hover
  
  .buttonColor {
    transition: background .2s linear;
    width: 140px;
    overflow: hidden;
    position: relative;
    display: flex;
    // left: 44%;
    color: #ffffff;
    &:after {
      position: absolute;
      background: rgba(black, .2);
      transform: scale(0);
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      content: '';
      border-radius: 50%;
    }
    img{
      display:block;
    }
    &:hover {
      cursor: pointer;
      span {
        transform: translateX(0);
      }
    }
    &:not(:active) {
      &:after {
          animation: ripple .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
      background: darken(#603c96, 5%);
    }
    img{
      width: 25px;
      height: 20px;
    }
    span {
      transform: translateX(-105px);
      transition: transform .2s cubic-bezier(0.785, 0.135, 0.15, 0.86); 
      flex-basis: 160px;
      min-width: 107px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    @keyframes ripple {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(4);
      }
    }
  }
  
 .button {
    transition: all .3s ease;
    width: 140px;
    overflow: hidden;
    position: relative;
    display: flex;
    &:after {
      position: absolute;
      background: rgba(black, .2);
      transform: scale(0);
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      content: '';
      border-radius: 50%;
    }
    img{
      display:block;
    }
    &:hover {
      cursor: pointer;
      // background-color:#603c96;
      // border-color:#603c96;
      span {
        transform: translateX(0);
      }
    }
    &:not(:active) {
      &:after {
          animation: ripple .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
    }
    img{
      width: 25px;
      height: 20px;
    }
    span {
      transform: translateX(-120px);
      transition: transform .2s cubic-bezier(0.785, 0.135, 0.15, 0.86); 
      flex-basis: 160px;
      min-width: 115px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    @keyframes ripple {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(4);
      }
    }
  }

  .hashworks--carrer--bnr{
    .slick-slider{
      width: 940px;
      margin: 0 auto;
    }
  }
  //end hover
  .hashworks--exService{
    .dropdown-menu {
      position: static;
    }
  }
  .panel-heading{
    padding: 19px 10px 19px 0px;
  }
  .hashworks--faq{
    .panel-heading{
      padding: 17px 10px 24px 0px;
    }
  }
  // css for popup
.modal-dialog{
  width: 465px;

  .modal-header .close {
    margin-top: -45px;
}
.modal-header {
  padding:16px 18px 0px 43px;
}
input {
  padding: 10px 16px;
}
.modal-body{
  padding: 16px 43px 16px 43px;
}
.loginbutton {
  margin-top: 24px;
}
.condition{
  padding-right: 80px;
}
}
.pagination>li>a:hover {
  color: #603d97;
  background-color: #eee;
  border-color: #ddd;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
// end css for popup

.fluid-bread{
  ol{
    list-style: none;
    margin: 0px;
  }
  span{
    position: relative;
  }
  span:not(:first-child) :before {
    content: "";
    position: absolute;
    bottom: .7rem;
    left: -1.3rem;
    width: 5px;
    height: 5px;
    transform: rotateZ(45deg) translateY(-3px);
    border-right: 1px solid #393939;
    border-top: 1px solid #393939;
}
}
}

@media only screen and (min-width:1440px) {
  .hero {
    font-size: 47px;
  }
  .title {
    font-size: 28px;
    line-height: 38px;
  }
  .subTitle {
    font-size: 19px;
  }
  .bodyBold {
    font-size: 16px;
  }
  .bodyRegular, .bodyLight{
    font-size: 16px;
    line-height: 28px;
  }
  .bodyItalic {
    font-size: 16px;
  }
  .bodySemiBold {
    font-size: 16px;
  }
  .button,.buttonColor {
    padding: 12px 24px;
    font-size: 16px;
  }
  .panel-heading{
    padding: 16px 10px 16px 0px;
  }
  .hashworks--faq{
    .panel-heading{
      padding: 26px 10px 27px 0px;
    }
  }
  .hashworks--carrer--bnr{
    .slick-slider{
      width: 1170px;
      margin: 0 auto;
    }
  }
    // css for popup
.modal-dialog{
  width:548px;

  .modal-header .close {
    margin-top: -65px;
    margin-right: -23px;
}
.modal-header {
  padding:24px 40px 0px 35px;
}
.modal-body{
  padding: 24px 35px 24px 43px;
}
input {
  padding: 10px 16px;
}
.loginbutton {
  margin-top: 24px;
}
.condition{
  padding-right: 80px;
}
}
// end css for popup
.buttonColor {
  width: 170px;
  span {
    transform: translateX(-142px);
    flex-basis: 160px;
    min-width: 135px;
  }
}
.button {
  width: 170px;
  span {
    transform: translateX(-137px);
    flex-basis: 160px;
    min-width: 132px;
  }
}
.fluid-bread{
  .container{
      width: 1179px !important;
  padding: 0;
  }
}
}


.gsc-input-box {
  border-radius: 6px;
  width: 200px;
}
.gsc-search-button{
  display: none;
}

.gsib_a {
  padding: 10px 16px !important;
  font-family: 'OsRegular';
  font-size: 14px;
}
.header__tab__button:hover{
  color: #4a4a4a !important;
}
.gsc-input-box{
  border-radius: 4px;
  background-color: #ffffff !important;
  border: solid 1px #ebebeb !important;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
}
 .gsc-input-box-hover{
  background-color: #ffffff !important;
  border: solid 1px #ebebeb !important;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1) !important;
 }
 .gsc-input{
  text-indent: 0px !important;
  background-image: none !important;
 }