<div class="hashworks--mob">
  <!-- <app-banner titleText="Mobility" text="Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada."></app-banner> -->
  <div class="hashworks_bnr">
    <div class="hashworks_bnr__do" *ngFor="let item of ServiceList; let i = index">
      <h1 class="hero">{{item.hero}}</h1>
      <p class="bodyLight">{{item.bannerText}}</p>
    </div>
  </div>
  <div class="hashworks--mob-br" *ngFor="let brief of ServiceList;">
    <app-commonbanner titleText={{brief.briefTitle}} summaryText={{brief.briefsumarry}} btnTitle="" imageUrl="/assets/img/service/hashworks--1.jpg"></app-commonbanner>
  </div>
  <div class="hashworks--summary" *ngFor="let item1 of topics;">
    <h1 class="title">{{item1.title}}</h1>
    <p class="bodyLight">{{item1.summaryText}}</p>
  </div>
  <div *ngFor="let eco of ServiceList;">
    <app-ecosystem titleText={{eco.ecotitle}} btnUrl={{eco.url}} targetTypeLb="{{eco.lbTarget}}" lbUrl={{eco.lbwUrl}} summaryText="{{eco.viewcs}}" btnTitle="{{eco.btntitle}}" logoUrl={{eco.logo}}
      imageUrl={{eco.ecoImage}} targetType="{{eco.target}}" bgColor={{eco.color}}></app-ecosystem>
  </div>

  <div class="hashworks--exService">
    <h1 class="title">Explore other services</h1>
    <div class="hashworks--exService--list" *ngFor="let explore of ServiceList;">
      <h2 class="subTitle" (click)="route(explore.item1)">{{explore.item1}}</h2>
      <h2 class="subTitle" (click)="route(explore.item2)">{{explore.item2}}</h2>
      <h2 class="subTitle" (click)="route(explore.item3)">{{explore.item3}}</h2>
      <h2 class="subTitle" (click)="route(explore.item4)">{{explore.item4}}</h2>
      <h2 class="subTitle" (click)="route(explore.item5)">{{explore.item5}}</h2>
    </div>
  </div>

  <div class="hashworks--mob-why">
    <app-why-hashworks></app-why-hashworks>
  </div>
  <div class="hashworks--mob--help">
    <app-help></app-help>
  </div>
</div>