h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}
.hashworks_bnr{
    padding: 64px 0px;
     display: flex;
     align-items: center;
     text-align: center;
 p{
     padding-top: 8px;
 }
     &__do{
         // width: 290px;
         // margin: 0 auto;
         padding: 0px 28px;
         width:100%;
     }
 }
.hashworks--summary{
    padding: 32px 38px 32px 42px;
    border-bottom: 1px solid  #eaeaea;
    h1{
        text-align: center;
    }
    p{
        text-align: center;
        padding-top: 16px;
    }
}
.hashworks--mob{
    &--help{
        padding: 16px 0px 40px;
    }
}
.hashworks--exService{
padding: 48px 0px;
text-align: center;
h1{
    padding-bottom: 24px;
}
&--list{
    padding: 32px 0px 8px 0px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
h2{
    padding-bottom: 24px;
    cursor: pointer;
    outline: none;
}
}
@media only screen and (min-width:768px) {
    .hashworks_bnr{
        padding: 80px 0px;
    p{
        padding-top: 8px;
    }
        &__do{
            // width: 446px;
            padding: 0px 140px;
        }
    }
    .hashworks--summary{
        padding: 48px 100px 48px 100px;
    }
    .hashworks--mob{
        &--help{
            padding: 40px 0px  43px;
        }
    }
    .hashworks--exService{
        padding: 48px 0px;
     
        &--list{
            display: flex;
            justify-content: space-between;
            padding: 28px 64px 25px 68px;
            width: 695px;
            margin: 0px auto;
        }
        h2{
            padding-bottom: 0px;
        }
        h2:nth-child(1) {
            border-right: 1px solid #eaeaea;
            padding: 0px 15px 0px 0px
        }
        h2:nth-child(3) {
            border-left: 1px solid #eaeaea;
            border-right: 1px solid #eaeaea;
            padding: 0px 10px;
        }
        h2:nth-child(5) {
            border-left: 1px solid #eaeaea;
            padding: 0px 0px 0px 17px;
        }
        }
}
@media only screen and (min-width:1024px) {
    .hashworks_bnr{
        padding: 96px 0px;
    p{
        padding-top: 13px;
    }
        &__do{
            padding: 0;
            width: 770px;
            margin: 0 auto;
        }
    }
    .hashworks--summary{
        padding: 64px 0px 64px 0px;
      width: 840px;
      margin: 0 auto;
        p{
            padding-top: 24px;
        }
    }
    .hashworks--mob{
        &--help{
            padding: 64px 0px;
        }
    }
    .hashworks--exService{
        padding: 64px 0px;
     
        &--list{
            padding: 28px 126px 25px 89px;
            width: 936px;
        }
        h2{
            padding-bottom: 0px;
        }
        h2:nth-child(1) {
            padding: 0px 28px 0px 0px;
        }
        h2:nth-child(3) {
            padding: 0px 30px;
        }
        h2:nth-child(5) {
            padding: 0px 0px 0px 28px;
        }
        }
}
@media only screen and (min-width:1440px) {
    .hashworks_bnr{
        padding: 120px 0px;
    p{
        padding-top:24px;
    }
        &__do{
            width: 770px;
            padding: 0px;
            margin: 0 auto;
        }
    }
    .hashworks--summary{
        width: 970px;
        margin: 0 auto;
        padding: 80px 0px 80px 0px;
    }
        &--help{
            padding: 80px 0px 80px;
        }
        .hashworks--exService{
            padding: 80px 0px;
         
            &--list{
                padding: 28px 155px 25px 155px;
                width: 1168px;
            }
            h2:nth-child(1) {
                padding: 0px 32px 0px 0px;
            }
            h2:nth-child(3) {
                padding: 0px 32px;
            }
            h2:nth-child(5) {
                padding: 0px 0px 0px 32px;
            }
            }
    }
