<div class="home">
  <div class="home__hashworks">
    <div class="row">
      <div class="col-xs-12 col-sm-5 last-sm nopadd home__hashworks__hashlogo">
        <img class="home__hashworks--logo" id="frame" src="/assets/img/home/hashlogo.gif" alt="logo" loop=infinite />
      </div>
      <div class="col-xs-12 col-sm-7 nopadd">
        <h1 class="hero">Technology for Enterprise</h1>
        <div class="home__hashworks__innovation">
          <h2 class="subTitle">Blockchain </h2>
          <h2 class="subTitle">Cloud </h2>
          <h2 class="subTitle">DevOps</h2>
          <h2 class="subTitle abc">Data Science</h2>
        </div>
        
        <p class="bodyLight">Your digital transformation partner to Collaborate | Innovate | Change</p>
      </div>
    </div>
  </div>

  <app-commonbanner titleText="We help enterprises to build decentralized & distributed software services on Blockchain & Cloud native computing."
    summaryText="" btnTitle="" imageUrl="/assets/img/home/hashworks_degital.jpg"></app-commonbanner>

  <div class="home__ourwork">
    <h1 class="title">Our Work</h1>
    <p class="bodyLight">We believe in increasing the aggregated efficiency of your IT systems by increasing productivity and reducing time to
      market
    </p>

    <div class="home__ourwork__business">
      <div class="home__ourwork__business--expertise" *ngFor="let ourwork of ourWork">
        <div class="hero" [ngClass]="ourwork.class">{{ourwork.count}}</div>
        <p class="bodyLight">{{ourwork.description}}</p>
      </div>
    </div>
    <div class="knowMore">
      <button class="buttonColor" [routerLink]="['/casestudy']">
        <span>
          <img src="../../assets/img/home/service/Arrow.svg" alt="">
        </span>
        <span>Know More</span>
      </button>
    </div>
  </div>

  <div class="home__partner">
    <h1 class="title">We
      <span>
        <i class="fas fa-heart"></i>
      </span> to build on cloud</h1>
    <div class="home__partner__list">
      <img *ngFor="let cloud of cloud" src="{{cloud.cloudImage}}" alt="hashworks">
    </div>
  </div>

  <app-commonbanner titleText="How we grew 200% in 3 years" summaryText="" btnUrl="/grew" imageUrl="/assets/img/home/hashworks_grew.jpg"
    btnTitle="Know More"></app-commonbanner>

  <div class="home__srvc">
    <app-our-service titleText="Our Services" titleSummary=""></app-our-service>
  </div>

  <div class="home__product">
    <h1 class="title">Our Products</h1>
    <div class="home__product__paketo">
      <div class="home__product__paketo--practice" *ngFor="let item of product">
        <img src={{item.logo}} alt="">
        <h1 class="title">{{item.title}}</h1>
        <p class="bodyLight">{{item.titleSummary}}</p>
        <a [routerLink]="['/product']">
          <button class="button">
            <span>
              <img class="arow" src="../../assets/img/home/service/hashworks-blkarw.svg" alt="">
            </span>
            <span>Explore</span>
          </button>
        </a>
      </div>
      <div class="home__product__paketo--details">
        <div class="home__product__paketo__website " *ngFor="let item of productIteam">
          <div>
            <img src="{{item.productImage}}" alt="">
          </div>
          <div class="home__product__paketo__website--hercules">
            <h2 class="subTitle">{{item.productTitle}}</h2>
            <p class="bodyLight">{{item.productSummary}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home__hswhy">
    <app-why-hashworks></app-why-hashworks>
  </div>

  <div class="home__partner">
    <h1 class="title">Business we Accelerated</h1>
    <div class="home__partner__list">
      <img *ngFor="let item of bussiness" src="{{item.bsImage}}" alt="hashworks">
    </div>
  </div>

  <app-commonbanner titleText="Join our team today" summaryText="" btnUrl="/career" imageUrl="/assets/img/home/hashworks_join.jpg"
    btnTitle="Explore"></app-commonbanner>
  <div class="home__contact">
    <app-help></app-help>
  </div>
</div>