h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}
.home__help {
 
    text-align: center;
    width: 250px;
    margin: 0 auto;
    h1 {
      padding: 24px 0px 12px;
    }
    p {
      padding: 5px 0px 8px;
    }
    a{
      color: #4a90e2;
    }
  }

@media only screen and (min-width:768px) {
    .home__help {
      
        width: 100%;
        margin: 0 auto;
        h1 {
          padding:0px 0px 12px;
        }
        p {
          padding: 4px 0px 0px;
        }
        &__contact:nth-child(2){
            border-left:  solid 1px #eaeaea;
            border-right:  solid 1px #eaeaea;
            padding-left: 45px;
            padding-right: 45px;
        
        }
        &__list{
          display: flex;
          width: 588px;
          margin: 0 auto;
          padding-top: 32px;
          justify-content: space-between;
        }
      }
}

@media only screen and (min-width:1024px) {
  .home__help {
    
      width: 100%;
      margin: 0 auto;
      h1 {
        padding:0px 0px 10px;
      }
      p {
        padding: 0px 0px 0px;
      }
      &__contact:nth-child(2){
          padding-left: 46px;
          padding-right: 46px;
      
      }
      &__list{
        width: 622px;
        padding-top: 40px;
      }
    }
}


@media only screen and (min-width:1440px) {
  .home__help {
    
      p {
        padding: 0px;
      }
      h1{
        padding: 0px 0px 10px;
      }
      &__contact:nth-child(2){
          padding-left: 88px;
          padding-right: 88px;
      
      }
      &__list{
        width: 786px;
        padding-top: 48px;
      }
    }
}